%p#notice= notice

%h1 Listing Products

%table.table.table-condensed.table-hover
  %thead
    %tr
      %th.col-sm-2 Name
      %th.col-sm-2 Colour
      %th.col-sm-4 Description
      %th.col-sm-2 Image url
      %th.col-sm-2

  %tbody
    = render @products

%br

= link_to 'New Product', new_product_path
